{% extends 'base.html.twig' %}

{% block title %}blog{% endblock %}

{% block body %}
<section class="article">
    <article>
        <div class=" w-100 position relative" style="background-image: url('{{ article.image }}');     
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; 
        height: 50vh;
        width: 100%;">
            {% if is_granted('CAN_EDIT', article) %}
            <a class="btn btn-warning mt-2 ml-4" href="{{ path('blog_edit', {'id': article.id}) }}">Edit</a>
            <a class="btn btn-danger mt-2 mr-2 ml-4" href="{{ path('delete', {'id': article.id}) }}">Delete</a>
            {% endif %}
        </div>
        <div class="shadow rounded container px-5 py-2 p mt-3">
            <h5 class="text-warning">{{article.category.title}}</h5>
            <h2>{{article.title}}</h2>
            <p>By {{ owner.username }} on : {{ article.createdAt | date("d/m/Y") }} </p>
        </div>
        <div class="shadow rounded container p-5 mt-3">
            {{article.content | raw}}
        </div>
    </article>
</section>

<div class="container shadow p-5 rounded my-3">
    <h4>{{ article.comments | length }} Comments :</h4>
    <hr>
    {% for comment in article.comments %}
    <h5> {{comment.author}}<br></h5>
    <p>{{ comment.createdAt | date("d/m/Y") }} a {{ comment.createdAt | date("H:i")}}</p>
    <p>{{ comment.content| raw }}</p>
    <hr>
    {% endfor %}
</div>

<div class="container shadow rounded p-3 mb-5">
    {% if not app.user %}
    <h1 class="text-center text-warning">U need to login in to post a comment</h1>
    {% else %}
    {{ form_start(formComment)}}
    {{ form_row(formComment.author, {'attr': {'placeholder': "Your name"}}) }}
    {{ form_row(formComment.content, {'attr': {'placeholder': "Your Comment"}}) }}
    <button type="submit" class="btn btn-success">
        Commenter
    </button>
    {{ form_end(formComment) }}
    {% endif %}
</div>
{% endblock %}